@keyframes title1{
    0% {
        margin-top:-10px;
        opacity: 0.2;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 0.75;
        margin-top: 15%;
    }
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.wrap{
    display: flex;
    width: 100%;
    height: 8.7%;
    overflow: hidden;
    background: #FFA500;
}

.header{
    background: #1C1C1C;  
    width: 15%; 
}

        .header span{
            color: #FFA500;
            display: inline-block;
            padding-top: 17px;
            padding-left: 10px;
        }
        .bloger{
            font-size:x-large;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            word-spacing: -3px;
        }

        .sub_bloger{
            font-size:small;
        }

.topnav{
    margin-left: 2px;
    background: #1c1c1c;
    width: 85%;
    height: 100%;
    font-size: 17px;
    padding-left: 5px;
}

.menu{
    height: 94.5%;
    list-style: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

        .menu li{
            float: left;
            width: 60px;
            height: 100%;
        }

        .menu li a{
            text-decoration: none;
            color: whitesmoke;
            font-size: 15px;
            text-align: center;
            display: block;
            padding: 24px 15px;
        }

        .menu li a:hover{
            color: #FFFAFA;
        }

.move{
    /* float: bottom; */
    height: 5.5%;
    width:60px;
    border-top: #FFA500 3px solid;
    margin-left: 0px;
}

        .menu li:nth-child(2):hover+ .move{
            margin-left: 60px;
        }

        .menu li:nth-child(3):hover+ .move{
            margin-left: 120px;
        }

.main{
    height: 91.3%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
}

.bg{
    width: 99.5%;
    height:100%;
    background:url(../img/bg3.jpg);
    position: absolute; 
    z-index: -1;
}

.bg_shade{
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}

.title1{
    width: 100%;
    /* margin-top: 10%; */
    /* position: absolute; */
    /* transition: ease-in 2s; */
    animation: title1 2.2s;
    animation-fill-mode: forwards;
}

.title1 h1 {
    margin:0;
    text-align: center;
    font-size: 80px;
    color: #FFFAFA;
    text-shadow: black 2px 0 0;
}

/* .logo{
    z-index: 2;
} */